/*
* For styles only loaded in the editor
* These styles are actually inlined using webpack style-loader.  They are not loaded using WordPress enqueuing.
*/

.wp-block-guty-blocks-2-render-props-background {

}